*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    font-size: 16px;
    color: var(--text-secondary);
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-family-secondary);
}

.profile-container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding-bottom: var(--spacing-xl);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
    font-size: 22px;
    vertical-align: middle;
    color: var(--text-secondary);
    user-select: none;
    line-height: 1;
}